Django>=1.11,<5.0
django-redis==5.2.0
psycopg2==2.9.5
pytz
django-pipeline>=1.6,<2.1
raven==6.10.0
django-forms-bootstrap==3.1.0
Markdown==3.4.1
Pillow==9.3.0
Celery>=4.1.0,<5.3.0
xhtml2pdf==0.2.8
requests==2.28.1
googlemaps==4.7.0
openpyxl==3.0.10
django-leaflet==0.28.3
fiona==1.8.22
xlsxlite==0.2.0
python-dateutil==2.8.2
django-minio-storage==0.3.10
